@import "bootstrap";

#navi-bar {
  // background-color: #747572;
}

#navi-list {
  margin: 0;
  padding: 0;
}

#ad {
  background-color: #C6D8D3;
}

#display-headers {
  color: blue;
  text-align: center;
}

#question-header {
  color: blue;
  text-align: left;
}

#display-rows {
  text-align: center;
}

#question-row {
  text-align: left;
}
