<nav class="navbar navbar-right">
  <div class="container">
    {{#link-to 'index'}}Home{{/link-to}}
  </div>
</nav>
<div class="container">
  <header class = "jumbotron">
    <h1>Stuck Overflow</h1>
  </header>
    {{outlet}}
  <hr />
  <footer>
    <a href="http://www.stackoverflow.com">Check out our source site.</a>
  </footer>
</div>
