<nav class="navbar navbar-right">
  <div class="conatiner">
    {{#link-to 'index'}}Home{{/link-to}}
  </div>
</nav>
<div class="container">
  <header class = "jumbotron">
    <h1>Stuck Overflow</h1>
  </header>
    {{outlet}}
  <hr />
  <footer>

    Check out our source site.
  </footer>
</div>
