<div class="container" id="tagline">
  <h3><em>You think you're stuck? So is almost everyone else!</em></h3>
  <h2>Welcome to an Overflow of Stuck</h2>
</div>

<div class="container" id="instructions">
  Ask a question about anything you're stuck on! Or click on an existing stick and help someone else get unstuck!
</div>

<div class="container" id="questions">
  <h3>Top Questions</h3>
  <div class="row">
    <div class="col-xs-2">
      <p>votes</p>
      <p>5</p>
      <p>3</p>
    </div>
    <div class="col-xs-2">
      <p>answers</p>
      <p>1</p>
      <p>2</p>
    </div>
    <div class="col-xs-2">
      <p>views</p>
      <p>5,001</p>
      <p>397</p>
    </div>
    <div class="col-xs-6">
      <p>Question</p>
        {{#each model.questions as |question|}}
        <p>{{#link-to 'question' question.id}} {{question.title}} {{/link-to}}</p>
        {{/each}}
    </div>
  </div>
  {{new-question saveQuestion="saveQuestion"}}
</div>
<hr />

<div class="container" id="answers">
  <h4>Or just browse all answers</h4>
  <ul>
    {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
    {{/each}}
  </ul>
</div>
