<h4>A wealth of stuck!</h4>

<h3>Questions</h3>
<ul>
  {{#each model.questions as |question|}}
    {{question.title}}
  {{/each}}
</ul>

<h3>Answers</h3>
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer"}}

Ask your question about anything here, or answer an existing question.
