<h4>A wealth of stuck!</h4>

<h3>Answers</h3>
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>


<h3>Questions</h3>
<ul>
  {{#each model.questions as |question|}}
    <li>{{#link-to 'question' question.id}} {{question.title}} {{/link-to}}</li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

Ask your question about anything here, or answer an existing question.
