<h3><em>You think you're stuck? So is almost everyone else!</em></h3>
<h2>Welcome to an Overflow of Stuck</h2>

Ask your question about anything here, or click an existing question to add an answer.

<h3>Questions</h3>
<ul>
  {{#each model.questions as |question|}}
    <li>{{#link-to 'question' question.id}} {{question.title}} {{/link-to}}</li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

<h4>Or just browse all answers</h4>
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
