<h1>Stuck Overflow</h1>

<h4>A wealth of stuck!</h4>
<ul>
  {{#each model as |answer|}}
    {{answer-tile answer=answer destroyAnswer='destroyAnswer'}}
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer"}}

Ask your question about anything here, or answer an existing question.
